include README.rst
include LICENSE
include requirements.txt
recursive-include ckanext/aircan *.html *.json *.js *.less *.css *.mo *.yml
recursive-include ckanext/aircan/migration *.ini *.py *.mako
recursive-include ckanext/aircan/public *.*
