{% extends "package/resource_edit_base.html" %}
{% import 'macros/form.html' as form %}

{% block styles %}
  {{ super() }}
  {% asset 'aircan/aircan-css' %}
{% endblock %}

{% block subtitle %} {{ h.dataset_display_name(pkg) }} - {{ h.resource_display_name(res) }} {% endblock %}

{% block primary_content_inner %}
  {% if validation_report %}
    <div id="validation-report" data-module="validation-report"  data-module-report='{{ validation_report | tojson }}'></div>
  {% else %}
    <div class="alert alert-info">
      <p>{{ _('No validation report available for this resource.') }}</p>
    </div>
  {% endif %}
{% endblock %}


{% block scripts %}
  {{ super() }} 
  {% asset 'aircan/aircan-js' %}
{% endblock %}